html {
	font-size:18px;
}

body {
	font-family: "Open Sans";
}

/*Overrides*/

p {
	font-size:1rem;
	letter-spacing: 1.15px;
}

/*Additional Button Styles*/

.button-margin {
	margin-right:1rem;
}

.button-navigation {
	/*border:none;*/
}

.button-icon {
	border:none;
	margin:0;
	padding:0;
	color:inherit;
}

.button-icon:hover,
.button-icon:active,
.button-icon:focus {
	color:inherit;
}

/*typography*/

.section-title {
	text-align:center;
	text-transform: uppercase;
	font-weight:600;
	font-size:1.5rem;
	margin-bottom:1.5rem;
	letter-spacing: 2px;
}

/*input*/
input[type="search"].input-plain {
	display: inline;
	padding:0;
	margin:0 0 0 1rem;
	background-color:transparent;
	border:none;
	border-radius:0;
	border-bottom:solid #fff 2px;
}

/*nav*/

.nav {
	height:50px;
	font-size:1.15rem;
	background:#666;
	color:#fff;
}

	.logo, .logo:hover, .logo:active, .logo:visited { font-weight:300; text-decoration:none; color:#fff; }

/*banner*/

.banner {
	background:#ccc;
	color:#fff;
	height:450px;
	text-align:center;
}

	.banner-title {
		font-size:2.5rem;
	}

	.banner-subtitle {
		font-size:1.15rem;
		font-weight:400;
		margin-bottom:1.5rem;
		letter-spacing: 1.15px;
	}

/*section*/

.section {
	margin-bottom:3rem;
	padding:3rem 0;
}

/*calendar*/

.calendar {
	background:#ebebeb;
	margin-bottom:0;
	height:500px;
}

.footer {
	width:100%;
	font-size:0.9rem;
}

	.copyright {
		padding-left:1rem;
	}