html {
	font-size:18px;
}

body {
	font-family: "Open Sans";
	padding:0;
	margin:0;
}

/*Overrides*/

p {
	font-size:1rem;
	letter-spacing: 1.15px;
}

strong {font-weight:900;}


a {cursor:pointer;}
a:hover,
a:active,
a:focus {
	color:#09c5aa;
}

.nav {
	height:60px;
	font-size:1.15rem;
	color:#fff;
}

	.nav-dark { background:#333; }

	.logo, .logo:hover, .logo:active, .logo:visited { font-weight:300; text-decoration:none; color:#fff; }


/*sections*/

.section {
	margin-bottom:3rem;
	padding:3rem 0;
}

.section-title {
	text-align:center;
	font-weight:600;
	font-size:1.75rem;
	margin-bottom:1.5rem;
	letter-spacing: 2px;
	font-weight:700;
	font-family: "Domine";
}

.section-content {
	margin:3rem auto;
}


.footer {
	width:100%;
	font-size:0.8rem;
	height:40px;
	color:#fff;
	background:#333;
}

	.footer-bottom {
		position: absolute;
		bottom:0;
	}

	.footer-link  {color:inherit; padding:0 0.5rem; text-decoration:none;}
	.footer-link-selected {color:#09c5aa; padding:0 0.5rem;}

	.copyright {
		padding-left:1rem;
	}