.timeslot {
	text-align:center; 
	font-size: 1.5rem; 
	font-weight: 600; 
	letter-spacing: 1px; 
	margin-right:2rem;
	color:#000;
	width:150px;
	font-family:"Domine";
	align-self:center;
}

.row {
	margin-bottom:2rem
}