.classbox {
	background:#444;
	border-bottom: solid #09c5aa 6px;
	padding:1rem;
	border-radius:4px;
	color:#fff;
	text-align:left;
	font-size:1rem;
}

	.class-title {
		font-size:1.15rem;
		font-weight:700;
	}

	.class-time {
		font-weight:300;
	}

	.class-teacher {
		font-weight:400;
	}

	.class-location {
		font-weight:600;
		color:inherit;
	}	

	.class-location:hover,
	.class-location:active,
	.class-location:focus {text-decoration: underline}

